@import './variables';

@font-face { 
    font-family: $regular; 
    font-style: normal; 
    font-weight: 400; 
    src: url('../fonts/Arvo-Regular.ttf');
    src: local('Arvo', serif), local('Arvo Regular'), url('../fonts/Arvo-Regular.ttf') format('truetype');
    font-display: swap; 
    unicode-range: U+000-5FF; /* Latin glyphs */
  }


@font-face { 
    font-family: $regularItalic; 
    font-style: italic; 
    font-weight: 400; 
    src: url('../fonts/Arvo-Italic.ttf');
    src: local('Arvo'), local('Arvo Italic'), url('../fonts/Arvo-Italic.ttf') format('truetype');
    font-display: swap; 
    unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face { 
    font-family: $bold; 
    font-style: normal; 
    font-weight: 700;
    src: url('../fonts/Arvo-Bold.ttf');
    src: local('Arvo'), local('Arvo Bold'), url('../fonts/Arvo-Bold.ttf') format('truetype');
    font-display: swap; 
    unicode-range: U+000-5FF; /* Latin glyphs */
}