//colors
$background-color-dark: #1A1A2E;
$background-color-light: #f3f3f3;

$primary-color-dark: #E94560;

$secondary-color-dark: #D9C0C4;
$secondary-color-light: #0F3460;

$text-color-light: #16213E;
$text-color-dark: #fff;



//fonts
$regular: ArvoRegular;
$regularItalic: ArvoRegularItalic;
$bold: ArvoBold;